<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link href="https://unpkg.com/@primer/css@^19.0.0/dist/primer.css" rel="stylesheet" />
    <link href="/assets/css/rouge.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-md px-3 py-5 text-gray">
      <a class="f2 text-gray-light" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      <span class="f4 pl-2">
        by
        <a class="text-gray-light" href="{{ "/me/" | relative_url }}">@hidakatsuya</a>
      </span>
    </div>
    <div class="container-md px-3 mb-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>
