<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/prime-20.3.0.css">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-md px-3 py-5 color-fg-muted">
      <a class="f2 color-fg-muted" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      <span class="f4 pl-2">
        by
        <a class="color-fg-muted" href="{{ "/me/" | relative_url }}">@hidakatsuya</a>
      </span>
    </div>
    <div class="container-md px-3 mb-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>
